.boxOne{
  width: 40%;
  float: left;
  margin-top: 5%;
  border-radius: 3px;
  padding: 20px;
  margin-left: 100px;
  background-color: #80999b  
}

.boxTwo{
  width: 40%;
  float: right;
  margin-top: 5%;
  border-radius: 3px;
  padding: 20px;
  margin-right: 140px;
  background-color: 	#80999b  
}

/* ***********************************upload.js css**************** */
.SearchBar{
  width: 75%;
  margin: 0 auto;
  margin-top: 40px;
  margin-top: 5%;
  border-radius: 3px;
  padding: 10px;
  background-color: #80999b  
}

.table thead th {
  border-bottom: 1px solid #1b1b1b !important;
}

.table td, .table th {

  border-top: 1px solid #1b1b1b  !important;
}

.page-link {

  color: #1b1b1b !important;

}

/* ************************************pagination********************** */

.pagination{
  justify-content: center;
  display: flex;
}


/* ************************carousel**************** */
.carousel *{
  width: 50%;
   margin: 0 auto;
  }

  .carousel .slide {
   background: none !important;
  }
  .carousel .thumbs-wrapper {
    margin: 0px auto !important;
  }

  .carousel .control-dots .dot{
    width: 14px !important;
    height: 14px  !important;
  }
.carousel .carousel-status{
  font-size: 15px !important;
}

.table1{
  color: black !important;
}
  


/* **********************Nav bar **************** */
.navbar-dark .navbar-nav .nav-link{
  font-size: 20px;
}